<lasso-page/>
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>marko-koa</title>
        <lasso-head/>
    </head>
    <body>
        <App/>
        <lasso-body/>
        <browser-refresh/>
    </body>
</html>
